@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'react-toastify/dist/ReactToastify.css';

/* Title Bar Styles */
.drag-region {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

/* Prevenir seleção de texto na title bar */
.drag-region * {
  user-select: none;
  -webkit-user-select: none;
}

@layer base {

  input,
  textarea,
  select,
  button {
    @apply focus:outline-none focus:ring-0;
  }
} 