@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'Roboto Mono', monospace;
}

/* Title Bar Styles */
.drag-region {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

/* Prevenir seleção de texto na title bar */
.drag-region * {
  user-select: none;
  -webkit-user-select: none;
}

body {
  @apply antialiased bg-background text-foreground font-sans;
}

body {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.6);
}

@layer base {

  input,
  textarea,
  select,
  button {
    @apply focus:outline-none focus:ring-0;
  }
}